$border: 2px solid rgb(10, 185, 68);
.card{
    padding: 1rem;
    border-radius: 7px;
    margin-top: 1rem;
    border: $border;
    
    h2{
        text-align: center;
        color:rgb(10, 185, 68);
    }
}